{% extends 'base.html' %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Gallery
        {% endblock %}</title>
    <style>
        .image-thumbnail{
            height: 50px;

          }
          
    </style>
</head>

<body>
    {% block content %}
    <div class="row justify-content-center"><div class="col col-4"><h1 class="display-6">Art Gallery</h1></div></div>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    Themes
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{% url 'gallery' %}">All</a></li>                    
                    {% for category in categories %}
                    <li class="list-group-item"><a href="{% url 'gallery' %}?category_name={{ category }}">{{ category }}</a></li>                    
                    {% endfor %}
                   
                    <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <!-- object_list  -->
                {% for each in photos %}
                <div class="col-md-4"> <!-- this extra set of row and cols makes it a thumbnail -->
                    <div class="card my-2">
                        <img class="image-thumbnail" src="{{ each.image.url }}" alt="photo not showing">
                        <div class="card-body">
                            <small>{{ each.title }}</small>
                        </div> <!-- giving a class of btn btn-dark to an anchor tag -->
                        <a class="btn btn-outline-dark btn-sm m-1" href="{% url 'details' each.pk %}">View</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>